version: "3.8"
services:
  web:
    build: ./frontend
    depends_on:
      - api
    ports:
      - "3000:3000"
    networks:
      - network-backend
  api:
    build: ./backend
    ports:
      - "4000:4000"
    networks: 
     - network-backend

networks:
  network-backend: